global
  log 127.0.0.1 local0 notice
  maxconn 2000
  user haproxy
  group haproxy

defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull
  retries 3
  option redispatch
  timeout connect  5000
  timeout client  10000
  timeout server  10000


listen admin
    bind *:8080
    stats enable
    stats uri /haproxy?stats
    stats realm Strictly\ Private
    {% for user in haproxy_stats_users %}
    stats auth {{user.username}}:{{user.password}}
    {% endfor %}


frontend http-in
        bind *:80
        acl is_app url_beg  /app
        use_backend dotnet if is_app

backend dotnet
        mode http
        option httplog
        option forwardfor
        option http-server-close
        option httpchk
        {% for server in haproxy_backend_servers %}
        server {{server.name}} {{server.ip}}:{{server.port}}
        {% endfor %}    

