<div class="jumbotron text-center">
    <h1>Dotnet core Angular SPA</h1>
    <p>This is the home page example.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
            <img class="center-block" src="https://www.gravatar.com/avatar/2c21903c961dda55bd55555555?s=100" />
            <div class="col-sm-4">
                <div class="col-sm-4">

                </div>
            </div>
        </div>
    </div>